@tailwind base;
@tailwind components;

.header {
  @apply pt-5 pb-4 mb-5 flex border-b;
}
.header__logo {
  @apply text-2xl font-bold tracking-wide hover:text-blue-700;
}
.header__logo:hover {
}

.thumb-list {
  @apply grid grid-cols-2 gap-4 md:grid-cols-3;
}
.thumb-list__item {
  
}
.thumb-figure {
  @apply h-full rounded-lg overflow-hidden shadow;
}
.thumb-figure > a {
  @apply block h-full;
}
.thumb-figure__head {
  @apply bg-gray-300 relative overflow-hidden;
  padding-top: 62.5%;
}
.thumb-figure__head > div,
.thumb-figure__head > img {
  @apply top-0 z-20;
  position: absolute!important;
}
.thumb-figure__head img {
  @apply object-cover w-full h-full;
}
.thumb-figure__body {
  @apply p-3;
  min-height: 120px;
}
.thumb-figure__caption {
  @apply overflow-hidden font-medium tracking-wide text-lg;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.title {
  @apply text-5xl text-center;
}

@tailwind utilities;
