@tailwind base;
@tailwind components;

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  @apply text-black dark:text-white;
}

.wrapper {
  @apply bg-white transition-all duration-500 dark:bg-gray-800;
}

.header {
  @apply pt-5 pb-4 px-2 mb-5 flex border-b items-center;
}
.header__logo {
  @apply text-2xl font-bold tracking-wide md:hover:text-blue-700 dark:text-yellow-100 transition-colors;
}
.header__logo ~ * {
  margin-left: auto;
}
.header__body > * + * {
  @apply ml-10;
}

.toggle {
  @apply bg-gray-900 dark:bg-gray-100;
}
.toggle:focus:not(:focus-visible) {
  outline: none;
}

.thumb-list {
  @apply grid grid-cols-2 gap-4 md:grid-cols-3;
}
.thumb-list .thumb-list__item {
  @apply transition-all;
}
.thumb-list:hover .thumb-list__item:not(:hover) .thumb-figure {
  @apply shadow-sm;
}
.thumb-list .thumb-list__item:hover {
  filter: none !important;
}
.thumb-list .thumb-list__item:hover .thumb-figure {
  transform: translateY(-0.25rem);
}
.thumb-list .thumb-list__item:hover .thumb-figure__head {
  filter: none !important;
}
.thumb-figure > a {
  @apply block h-full;
}
.thumb-figure__head {
  @apply transition-all;
}
.thumb-figure__head > div,
.thumb-figure__head > img {
  @apply top-0 z-20;
  position: absolute !important;
}
.thumb-figure__head img {
  @apply object-cover w-full h-full;
}
.thumb-figure__body {
  @apply p-3 flex flex-col justify-start bg-white text-black h-full;
  min-height: 80px;
}
@media (min-width: 768px) {
  .thumb-figure__body {
    min-height: 100px;
  }
}
.thumb-figure__time {
  @apply text-xs mb-1;
}
.thumb-figure__caption {
  @apply overflow-hidden font-medium tracking-wide text-sm mb-1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.thumb-figure__body h2.thumb-figure__caption {
  @apply text-black;
}
.thumb-article__time {
  @apply dark:text-white;
}

.tag-list {
  @apply flex flex-wrap;
  width: calc(100% + 5px + 5px);
  margin-left: -5px;
}
.tag-list li {
  margin: 0 5px 5px;
}
.tag-list span {
  @apply bg-blue-700 rounded-xl text-xs text-center py-1 px-2;
  color: #fff;
  min-width: 80px;
}

.icon--github {
  width: 24px;
  height: 24px;
  display: block;
}
.icon--github svg {
  @apply fill-black;
}
.dark .icon--github svg {
  @apply fill-white;
}

.title {
  @apply text-5xl text-center;
}
.article .tag-list {
  @apply mb-2;
}
.article .tag-list li::before {
  content: none;
}
.article .tag-list li {
  padding-left: 0;
}

.article .article__title {
  @apply mt-2 mb-10 text-4xl dark:text-white;
}

.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  @apply dark:text-white;
}

.article a {
  @apply text-blue-700 dark:text-red-400;
}

@tailwind utilities;
